/* CATEGORY PAGE */

.categories-section
{
    position: fixed;

    top: 3px;
    bottom: 3px;
    left: 73px;

    width: calc(100% - 500px);

    outline: solid;
    outline-color: var(--color-background);

    background-color: rgba(255, 255, 255, 0.025);

    border-radius: 10px;
}

.categories-section-top-bar
{
    display: flex;
    justify-content: space-between;

    background-color: var(--color-accent-dark);

    height: 50px;
    width: calc(100% - 60px);

    padding-left: 30px;
    padding-right: 30px;
}

.categories-section-title
{
    color: var(--color-accent-light);

    font-size: 26px;
    font-weight: bold;
}

.new-category-button
{
    height: 35px;
    width: 35px;

    background: none;
    border-style: solid;
    border-radius: 8px;

    border-color: var(--color-background);

    color: var(--color-text);
}

.make-new-category-popup
{
    background-color: var(--color-accent-dark);
    
    border-radius: 10px;

    width: 100%;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-bottom: 30px;

    box-sizing: border-box;
}

.new-category-inputs
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    justify-content: space-between;

    column-gap: 30px;
    
    box-sizing: border-box;
}

.make-new-category-name,
.make-new-category-budget,
.make-new-category-color
{
    display: flex;
    align-items: center;
    color: var(--color-accent-light);

    gap: 10px;

    margin-bottom: 5px;
    margin-top: 5px;
}

.make-new-category-color-input
{
    width: 40px;
    height: 40px;
    padding: 0;
}
.make-new-category-name-input
{
    background-color: var(--color-accent-dark);
    color: var(--color-text);
    border-color: var(--color-background);
    border-radius: 10px;
    padding: 10px;

    border-style: solid;
}
.make-new-category-budget-input
{
    background-color: var(--color-accent-dark);
    color: var(--color-text);
    border-color: var(--color-background);
    border-radius: 10px;
    padding: 10px;
    text-align: right;

    border-style: solid;
}
.make-new-category-name-input:focus,
.make-new-category-budget-input:focus
{
    outline: none;
    border: 2px solid rgb(27, 41, 30);
}

.make-new-category-buttons
{
    margin-left: auto;
}

.save-new-category-button
{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: green;
    border-radius: 10px;
    margin-right: 10px;

    line-height: 0;
}
.save-new-category-button:hover
{
    background-color: rgba(255, 255, 255, 0.060);
}

.cancel-new-category-button
{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: red;
    border-radius: 10px;

    line-height: 0;
}
.cancel-new-category-button:hover
{
    background-color: rgba(255, 255, 255, 0.060);
}

.make-new-category-error-message
{
    color: red
}

.categories-boxes-section
{
    position: fixed;

    padding: 30px;

    width: calc(100% - 560px);

    top: 50px;
    bottom: 0px;
    left: 70px;

    overflow-x: hidden;
    overflow-y: auto;
}

.categories-list,
.archived-categories-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.category-box 
{
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    min-width: 300px;
    max-width: 630px;

    display: flex;
    flex-direction: row;
    position: relative;
    
    background-color: var(--color-accent-dark);
    border-radius: 10px;

    outline: 1px solid var(--color-background);
}
.category-box-color 
{
    width: 40px;
    height: 100%;

    margin-right: 30px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.category-box-content 
{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}
.category-box-name-and-edit
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 8px;
    min-height: 50px;
    max-height: 80px;
}
.category-box-name 
{
    font-weight: bold;
    color: var(--color-text);
    font-size: 20px;
}
.category-box-budget-label
{
    font-weight: bold;
}
.category-box-budget {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;

    font-size: 18px;
    color: var(--color-accent-light);

    margin-bottom: 20px;
    margin-top: auto;

    bottom: 0;

    height: 40px;
}

.category-box-options-button
{
    align-items: right;
    margin-right: 30px;

    width: 40px;
    height: 40px;

    background: none;
    border: none;
    color: var(--color-text);
}
.category-box-options-button:active
{
    background-color: rgb(42, 63, 46);
    border-radius: 10px;
}

.category-box-options
{
    position: absolute;
    top: 30px;
    right: -18px;
    z-index: 20;

    border-radius: 10px;
    overflow: hidden;

    background-color: var(--color-black);
}

.category-box-options-menu
{
    width: 90px;
    height: 110px;
}
.category-box-options-menu-line
{
    width: 90px;
    height: 2px;
    background-color: var(--color-accent-dark);
    margin: 1px;
}
.category-box-options-menu-button
{
    border-radius: 0px;
    border: none;

    font-size: 15px;
    height: 38px;

    color: var(--color-text);
    
    background-color: transparent;
}
.category-box-options-menu-button:hover
{
    background-color: rgba(255, 255, 255, 0.061);
}

.category-box-options-menu-edit
{
    margin: 10px 30px;
    width: 200px;
    height: 140px;
}
.category-box-options-menu-edit-text
{
    color: var(--color-text);
}
.edit-category-name-input,
.edit-category-budget-input
{
    background-color: var(--color-black);
    color: var(--color-text);
    border: none;
    border-bottom: 1px solid var(--color-background);

    font-size: 14px;

    border-radius: 0;

    margin-left: 10px;
}
.edit-category-name-input
{
    text-align: center;
    width: 133px;
}
.edit-category-budget-input
{
    text-align: center;
    width: 125px;
}
.edit-category-color-input
{
    transform: translateY(4px);
}
.category-box-options-menu-edit-save
{
    background-color: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-text);

    border-radius: 5px;
    width: 100%;

    font-size: 12px;
}
.category-box-options-menu-edit-save:hover
{
    background-color: rgba(255, 255, 255, 0.061);
}

.archived-categories-dropdown-button
{
    background-color: var(--color-accent-dark);
    border-color: var(--color-background);
    border-style: solid;

    color: var(--color-text);

    border-radius: 10px;

    width: 100%;

    margin-top: 20px;
    margin-bottom: 20px;
}
.archived-categories-dropdown-button-text
{
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;

    font-size: 17px;
    font-weight: bold;

    margin-right: auto;
}
.archived-categories-dropdown-button-icon-open,
.archived-categories-dropdown-button-icon-closed
{
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;

    margin-left: auto;
}




.categories-page-charts
{
    position: fixed;

    width: 425px;
    height: 100vh;

    right: 0px;

    overflow: hidden;
    overflow-y: auto;

    outline: none;
    outline-color: var(--color-accent-dark);

    justify-content: top;
}

.categories-page-pie-chart-wrapper
{
    max-height: 420px;
    margin-top: 10px;
    margin-bottom: 0;
}
.categories-page-pie-chart
{
    margin-left: auto;
    margin-right: auto;

    max-height: 370px;
    max-width: 370px;
    min-height: 370px;
    min-width: 370px;
}
.categories-pie-chart-total
{
    color: var(--color-text);
    font-weight: bold;
    margin-bottom: 0;
}

.division-line
{
    position: relative;
    flex-shrink: 0;

    width: 330px;
    height: 5px;
    background-color: var(--color-background);

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 10px;
}

.budgets-bar-chart-title
{
    color: var(--color-text);
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}
.budgets-bar-chart-direct-wrapper
{
    height: calc(100vh - 500px);
}
.budgets-bar-chart
{
    position: relative;

    height: calc(100vh - 400px);
    max-height: 380px;

    max-width: 350px;
    min-width: 350px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
}