.expenses-list-section
{
    position: fixed;

    left: 73px;
    top: 100px;
    bottom: 3px;

    width: calc(100% - 500px);

    outline: solid;
    outline-color: var(--color-background);

    background-color: rgba(255, 255, 255, 0.025);

    border-radius: 10px;
}

.expenses-list-top-bar
{
    display: flex;
    justify-content: space-between;

    background-color: var(--color-accent-dark);

    height: 50px;
    width: calc(100% - 40px);

    padding-left: 20px;
    padding-right: 20px;
}

.expenses-list-title
{
    color: var(--color-accent-light);

    font-size: 26px;
    font-weight: bold;
}


.new-expense-button,
.sort-expenses-button
{
    display: flex;
    
    position: fixed;

    padding: 0;

    height: 35px;
    width: 35px;

    background: none;
    border-style: solid;
    border-radius: 8px;

    border-color: var(--color-background);

    color: var(--color-text);
}
.new-expense-button
{
    right: 500px;
}
.sort-expenses-button
{
    right: 450px;
}

.expenses-list-whole
{
    padding: 20px;

    height: calc(100vh - 190px);
    overflow-y: auto;
}

.new-expense-inputs
{
    display: flex;
    flex-wrap: wrap;

    row-gap: 15px;
    column-gap: 40px;

    background-color: var(--color-accent-dark);
    border-radius: 10px;
    
    margin-top: 0px;
    margin-bottom: 20px;
    
    font-size: 18px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.new-expense-input-label
{
    display: flex;
    flex-wrap: nowrap;

    gap: 10px;

    align-items: center;

    row-gap: 20px;
    
    flex-grow: 0;
    flex-shrink: 1;

    color: var(--color-accent-light);

    margin: 0px;

    font-size: 16px;
}

.new-expense-input-input
{
    appearance: none;
    -webkit-appearance: none;

    display: flex;
    flex-wrap: wrap;

    background-color: var(--color-accent-dark);
    border-color: var(--color-background);
    border-style: solid;
    border-width: 2px;
    color: var(--color-text);

    block-size: 32px;
    line-height: 23px;

    box-sizing: border-box;

    border-radius: 8px;

    padding-left: 10px;
    padding-right: 10px;

    flex-basis: 100%;
    flex-shrink: 1;
}

.expense-input-categories-dropdown
{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20d%3D%22m7%2015%205%205%205-5%22/%3E%3Cpath%20d%3D%22m7%209%205-5%205%205%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;
}

.expense-input-categories-dropdown-label
{
    --expense-input-flex-basis: 100%;


    flex-basis: 400px;

    min-width: 250px;
    max-width: 400px;
}
.new-expense-input-amount-label
{
    flex-basis: 250px;

    min-width: 150px;
    max-width: 250px;
}
.new-expense-input-date-label
{
    flex-basis: 150px;

    max-width: 150px;
    min-width: 150px;
}
.new-expense-input-note-label
{
    flex-basis: calc(100% - 130px);

    min-width: 200px;
    max-width: 800px;
}

.new-expense-input-amount-input
{
    text-align: right;
}


.new-expense-buttons
{
    width: 90px;
    min-width: 90px;

    margin-left: auto;
}
.save-new-expense-button
{
    background-color: transparent;
    border: none;
    color: green;
    border-radius: 10px;

    margin: 0;
    
    line-height: 0;
}
.save-new-expense-button:hover
{
    background-color: rgba(255, 255, 255, 0.060);
}

.cancel-new-expense-button
{
    background-color: transparent;
    border: none;
    color: red;
    border-radius: 10px;

    margin: 0;

    line-height: 0;
}
.cancel-new-expense-button:hover
{
    background-color: rgba(255, 255, 255, 0.060);
}

.new-expense-error-message
{
    color: red;
}


.expenses-sorting-section
{
    position: fixed;

    right: 425px;
    top: 150px;

    width: 225px;
    height: calc(100vh - 154px);

    border-radius: 15px 0 15px 15px;
    border: 2px solid var(--color-background);

    background-color: var(--color-aside);

    overflow: hidden;
}

.expenses-sorting-section-top-bar
{
    border-bottom: 2px solid var(--color-background);
}

.expenses-sorting-title
{
    color: var(--color-accent-light);

    margin: 10px 20px;
}

.expense-sorting-application-buttons
{
    width: 90px;
    min-width: 90px;
    height: 30px;

    margin-left: auto;
}
.save-new-expense-sorting-button
{
    background-color: transparent;
    border: none;
    color: green;
    border-radius: 10px;

    margin: 0;
    
    line-height: 0;
}
.save-new-expense-sorting-button:hover
{
    background-color: rgba(255, 255, 255, 0.060);
}

.cancel-new-expense-sorting-button
{
    background-color: transparent;
    border: none;
    color: red;
    border-radius: 10px;

    margin: 0;

    line-height: 0;
}
.cancel-new-expense-sorting-button:hover
{
    background-color: rgba(255, 255, 255, 0.060);
}

.expenses-sorting-choices
{
    position: absolute;

    top: 43px;
    bottom: 0;

    width: 229px;
    height: calc(100vh - 196px);

    margin: 0;
    padding: 0;

    margin-bottom: auto;
    
    overflow-y: auto;
    overflow-x: hidden;
}

.expenses-sorting-category
{
    display: flex;
    align-items: center;

    background-color: var(--color-accent-dark);

    height: 40px;
    width: calc(100% - 4px);

    padding-left: 20px;
    padding-right: 15px;

    border: 2px solid var(--color-background);
    border-right: none;
    border-left: none;

    color: var(--color-accent-light);
}

.expenses-sorting-icon-open,
.expenses-sorting-icon-closed
{
    margin-left: auto;

    color: var(--color-accent-light);
}

.expenses-sorting-selection-menu
{
    display: flex;
    
    width: calc(100% - 44px);

    margin: 0;
    margin-bottom: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.expenses-sorting-section-header
{
    font-size: 12px;
    font-weight: bold;
    color: var(--color-text);
}

.expenses-sorting-subheader
{
    font-size: 12px;
    color: var(--color-text);
}

.expenses-sorting-info-subheader
{
    font-size: 12px;
    color: var(--color-text);

    margin-top: 20px;
    margin-bottom: 0;
}

input[type="radio"],
input[type="checkbox"]
{
    accent-color: var(--color-accent-light-2);
}


.expense-sorting-year-dropdown,
.expense-sorting-month-dropdown
{
    margin-left: 17px;
    margin-top: 1px;
    margin-bottom: 8px;
}

.expense-sorting-year-for-month-dropdown
{
    margin-left: 17px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.expense-sorting-dropdown
{
    background-color: var(--color-aside);
    border-color: var(--color-background);
    border-style: solid;
    border-width: 2px;
    color: var(--color-text);

    border-radius: 10px;

    height: 25px;
}

.expense-sorting-date
{
    -webkit-appearance: none;
    appearance: none;

    background-color: var(--color-aside);
    border-color: var(--color-background);
    border-style: solid;
    border-width: 2px;
    color: var(--color-text);

    border-radius: 5px;

    height: 19px;
    width: 98px;

    margin-left: 17px;
    margin-top: 1px;
    margin-bottom: 0px;

    padding-left: 5px;
}

.min-max-sorting-labels
{
    margin-left: 20px;


    margin-bottom: 0px;
    margin-top: 0px;

    color: var(--color-text);
    font-size: 12px;

}

.expense-sorting-min-amount,
.expense-sorting-max-amount
{
    background-color: var(--color-aside);
    border-color: var(--color-background);
    border-style: solid;
    border-width: 2px;
    color: var(--color-text);

    border-radius: 5px;

    height: 19px;
    width: 110px;

    padding-left: 6px;

    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: 1px;
}


.sort-expenses-note
{
    background-color: var(--color-aside);
    border-color: var(--color-background);
    border-style: solid;
    border-width: 2px;
    color: var(--color-text);

    padding-left: 10px;
    padding-right: 10px;

    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 5px;

    field-sizing: content;
    min-height: 40px;

    margin-bottom: 10px;
    gap: 8px;
}

.expense-sorting-error-message
{
    font-size: 12px;
    color: var(--color-error);

    margin-top: 15px;
    margin-bottom: 0;
}