/* Make date inputs dark mode */
input[type="date"] 
{
    color-scheme: dark;
}

/* Controls the whole screen */
body
{
    background-color: var(--color-accent-dark);
    margin-left: 70px;
    font-family: Arial, sans-serif;

    margin-right: 0;
    padding-right: 0;
}

/* Loading Screen */
.loading-overlay 
{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-box {
    background-color: rgb(2, 2, 2);
    padding: 18px 24px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.loading-spinner 
{
    width: 32px;
    height: 32px;
    border: 4px solid var(--color-accent-light);
    border-top: 4px solid rgb(27, 41, 30);
    border-radius: 50%;
    margin: 15px;
    animation: spin 1s linear infinite;
}
@keyframes spin 
{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.loading-message
{
    color: var(--color-accent-light);
}

/* General Classes */

.page
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.hidden
{
    display: none !important;
}

.invisible
{
    visibility: hidden;
}

.title
{
    margin-left: 30px;
    margin-bottom: 10px;

    color: var(--color-accent-light);
    font-size: 40px;
}

.button
{
    background-color: transparent;
    border-color: none;

    color: var(--color-text);

    border-radius: 10px;
}

.full-center
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center
{
    display: flex;
    align-items: center;
}

.horizontal-center
{
    display: flex;
    justify-content: center;
}

.column
{
    display: flex;
    flex-direction: column;
}

.row
{
    display: flex;
    flex-direction: row;
}

.toast-message {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--color-accent-dark);
    color: var(--color-text);

    padding: 12px 18px;
    border-radius: 10px;

    font-size: 14px;
    z-index: 9999;

    opacity: 1;
    transition: opacity 0.3s ease;
}
